
/* Font Options : "DM Mono", "Faculty Glyphic" */
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --white: #ffffff;
    --bone : #aaa8a2;
    --dim: #716969;
    --graphite: #2d2e2e;
    --onyx: #0f0f0f;
    --yellow: #e8ac41ff;
    --placehold: #DDA0DD;
    --transparent: #00000000
}



body {
    margin: 0;
    padding: 0;
    gap: 0;
    background-color:#556;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);

    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar-track {
    background: var(--graphite);
}

body::-webkit-scrollbar-thumb {
    background: var(--dim);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--transparent);
    padding: 8px 2.5%;
    height: 64px;
    align-items: stretch;
    position: fixed;
    width: 95%;
    top: 0;
    overflow: hidden;
    z-index: 10;
    transition: background 0.25s ease-in-out;
}

nav.static {
    background-color: var(--graphite);
}

nav.scrolled {
    background-color: var(--graphite);
}

nav a svg path{
    transition: stroke 0.15s ease-in-out, fill 0.15s ease-in-out;
}

nav a:hover svg path {
    fill: var(--yellow);
}

nav div a svg path {
    stroke: var(--white);
}

nav div a:hover svg path {
    stroke: var(--yellow);
    fill: none;
}

nav a {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
}

nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 8rem;
    background-color: var(--graphite);
    justify-content: space-evenly;
    align-items: center;
    place-items: center;
}

footer p {
    font-family: "DM Mono", monospace;
    color: var(--white);
    cursor: pointer;
    font-size: clamp(0.75rem, 2vw, 1rem);
    margin: 0;
}

footer p:hover {
    color: var(--yellow);
    text-decoration: underline;
}

@media (max-width: 480px) {
    nav a {
        padding: 10px;
    }

    nav a svg {
        width: 32px;
        height: 32px;
    }

    footer {
        height: 5rem;
    }
}
