
.hero {
    width: 100%;
    text-align: center;
    position: relative;
}

.hero img {
    width: 100%;
    filter: brightness(45%);
}

.hero-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.hero-text h1 {
    font-size: 4rem;
    font-family: "Faculty Glyphic", sans-serif;
    letter-spacing: 3px;
    margin: 1rem;
}

.search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--transparent);
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: 0 1px 1px var(--dim) inset, 0 2px 1px var(--dim);
    backdrop-filter: blur(4px);
    gap: 10px;
}

.search label {
    cursor: pointer;
}

.search label svg path {
    stroke: var(--dim);
}


.search input {
    border: none;
    outline: none;
    color: var(--white);
    font-size: 1.2rem;
    width: 275px;
    background: none;
}