
body {

}

.main {
    color: var(--white);
    display: flex;
    padding-top: 64px;
    width: 100%;
}

.image {
    flex-grow: 1;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8rem 0;
}

.slider {
    cursor: pointer;
}

.slider svg path {
    stroke: var(--dim);
    transition: 0.2s;
}

.slider:hover svg path {
    stroke: var(--onyx);
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    aspect-ratio: 1 / 1;
}

.frame img {
    height: 100%;
    width: auto;
}

.info {
    width: 26rem;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-family: "DM Mono", sans-serif;
    text-align: center;
    flex-grow: 1;
}

.sub {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.info h1 {
    font-weight: normal;
}

.info h2 {
    font-weight: lighter;
    font-size: 1.2rem;
}

.info h3 {
    font-weight: bold;
    color: var(--yellow);
    font-size: 1.2rem;
}
