
.main {
    color: var(--white);
    display: flex;
    padding-top: 64px;
    width: 100%;
}

.image {
    flex-grow: 1;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8rem 0;
}

.slider {
    cursor: pointer;
}

.slider svg path {
    fill: var(--dim);
    transition: 0.2s;
}

.slider:hover svg path {
    fill: var(--onyx);
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    aspect-ratio: 1 / 1;
}

.frame img {
    height: 100%;
    width: auto;
}

.info {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-family: "Faculty Glyphic", sans-serif;
    text-align: center;
    flex-grow: 1;
}